html {
  background: #f2f1f4;
  color: #19171c;
}
.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 650px;
  height: 100px;
  margin: 0px;
  font-size: 40px;
  border: solid black 2px;
}
.title {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  height: 60px;
  cursor: pointer;
  width: 650px;
  text-indent: 30px;
  border-bottom: lightgray solid 1px;
}

.title:hover {
  background-color: rgba(5, 100, 105, 0.959);
  font-size: 18px;
}
.description {
  display: none;
  height: 60px;
  width: 650px;
  background-color: white;
  text-indent: 20px;
}

.title.active + .description {
  display: block;
}

.accordion div:nth-of-type(even) .title {
  background-color: lightblue;
}
